table {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 14px;
    margin: 0 auto;
}

thead tr, thead th, tbody td{
    border : 1px solid black;
    padding: 8px;
    text-align: center;
}

.Button{
  
}
.Button button{
    margin: 0 auto;
    display: inline-block;
    margin-right: 10px;
    
}
