.TableButtons {
    border: 1px solid ;
    border-radius: 5px;
    position: fixed;
    background-color: rgba(0,0,0, 0.6);
    top: 0;
    left: 0;
    right: 0;   
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.TableButton {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    
}
 .TableButton input{
    width: 100%;
    margin-bottom: 10px;
 }
input:focus{
    outline: none;
}